label{
    color: aqua;
    display: block;
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

input{
    display: flex;
    position: relative;
    margin-left: 40px;
    margin-top: 50px;
    align-items: center;
}

.group{
    display: flex;
}

button{
    margin-left: 30px;
    font-size: 20px;
    color: black;
    background-color: bisque;
}
